{% load staticfiles %}
{% load cms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

<!--     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> -->
   
    <link rel="stylesheet" href="{% static 'css/cportal.css' %}">
        <!-- Theme CSS -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    

</head>
    <body>

        <!-- Navigation -->
        <nav id="mainNav" class="mainNav">
            <div class="nav-container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <a class="navbar-brand page-scroll" href="#page-top">BDA</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a href="http://www.biffduncan.com/#services">Services</a>
                        </li>
                        <li>
                            <a href="http://www.biffduncan.com/#about">About</a>
                        </li>
                        <li>
                            <a href="http://www.biffduncan.com/#team">Team</a>
                        </li>
                        <li>
                            <a href="http://www.biffduncan.com/#contact">Contact</a>
                        </li>
                        <li>
                            <a href="http://www.biffduncan.com/cportal">Customer Portal</a>
                        </li>
                        <li>
                            <a href="https://remote.biffduncan.com">Support</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div id="all_holder">
            <div class="container-fluid">
                <div class="row">
                    <div id="sidebar-menu" class="col-sm-12 col-md3 col-lg-3">
                        <ul class=sidebar-nav>
                            <li class="nav-link">
                                <a href="#">Home</a>
                            </li>
                            <li class="nav-link">
                                <a href="#">Forms</a>
                            </li>
                            <li class="nav-link">
                                <a href="#">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="main-custom col-sm-12 col-md-9 col-lg-6">
                        <div id="main-content">
                            <h1>This is some filler</h1>
                            <p> filler filler fillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfillerfill</p>
                        </div>
                    </div>
                    <div id="sidebar-menu" class="col-sm-12 col-md3 col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>